<h2>All Orders</h2>

<table class="table">
	<thead>
		<tr> 
      <th>ID</th>
      <th>Client</th>
			<th>Line items</th>
      <th>Total</th>
      <th>Date</th>
      <th>Accepted?</th>
      <th>View</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order|%>
    <% total = 0 %>
			<tr>
        <td><%= order.id %></td>
        <td><%= order.user.first_name %></td>
        <td>
          <% order.line_items.each do |line_item| %>
            <li>
              <%= line_item.quantity %> x <%= line_item.item.name %> = <%= number_to_currency(decorate(line_item).total_price) %>
            </li>
            <% total += decorate(line_item).total_price %>
          <% end %>
        </td>
        <td><%= number_to_currency(total)%></td>
        <td><%= order.created_at%></td>
        <td><%= order.accepted%></td>
        <td><%= link_to "View", order_path(order), class: "btn btn-success" %></td>
      </tr>
		<% end %>
	</tbody>
</table>