<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <%= form_with(model: @item, local: true) do |f| %>

        <% if @item.image.attached? %>
          <%= image_tag @item.image, style: "width: 220px" ,class: "rounded mx-auto d-block" %>
          <br>
        <% end %>

        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label" %>
          <%= f.text_field :name, class: "col-10 form-control shadow rounded", placeholder: "Name of item" %>
        </div>

        <div class="form-group row">
          <%= f.label :price, class: "col-2 col-form-label" %>
          <%= f.text_field :price, class: "col-10 form-control shadow rounded", placeholder: "Price of item", disabled: !current_user.admin?  %>
        </div>
        
        <div class="form-group row">
          <%= f.label :stock, class: "col-2 col-form-label" %>
          <%= f.text_field :stock, class: "col-10 form-control shadow rounded", placeholder: "Stock of item" %>
        </div>

        <div class="form-group row">
          <%= f.label :tag, class: "col-2 col-form-label" %>
          <%= f.text_field :tags, value: @item.tags.map(&:name).join(","), class: "col-10 form-control shadow rounded", placeholder: "Tags of item" %>
        </div>

        <div class="form-group row">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %> 
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-dark" %>
        </div>

      <% end %>
    </div>
  </div>
</div>