<h1>Items listing page</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">id</th>
			<th scope="col">Item</th>
			<th scope="col">Price</th>
			<th scope="col">Stock</th>
			<th>Actions</th>
      <% unless current_user && current_user.support? %>
        <th>Add to cart</th>  
      <% end %>
      <th scope="col">Likes</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item|%>
			<tr>
				<th><%= item.id %></th>
				<td><%= item.name %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.stock %></td>
				<td><%= link_to "View", item_path(item), class: "btn btn-success" %></td>
        <% unless current_user && current_user.support? %>
          <% if item.stock > 0 %>
            <td><%= button_to "Add to cart", line_items_path(:item_id => item.id)%></td>
          <% else %>
            <td> No stock </td>
          <% end %>
        <% end %>
        <td><%= item.likes.count %> <%= (item.likes.count) == 1 ? 'Like' : 'Likes'%></td>
			</tr>
		<% end %>
	</tbody>
</table>
