<h2 class="text-center mt-4"><%= @item.name %></h2>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-8 mt-4">
			<div class="card text-center shadow mb-5 bg-white rounded">
				<div class="card-body">
          <div class="card-text text-left">
            <p><strong>ID: <%= @item.id%> </strong></p>
          </div>
					<div class="card-text text-left">
            <p><strong>Price: <%= number_to_currency(@item.price) %> </strong></p>
          </div>
          <div class="card-text text-left">
            <p><strong>Stock: <%= @item.stock%></strong></p>
          </div>

					<div>
						<p><strong>Tags:</strong></p>
						<%  @item.tags.each do |tag| %>
							<%= link_to tag.name, root_path(tags: tag.name) , class: "btn btn-info" %>
						<% end %>
          </div>
					<br>
					<div>
            <% if current_user && current_user.support? %>
              <%= link_to "Edit", edit_item_path(@item), class: "btn btn-primary" %>
              <% if current_user && current_user.admin? %>
                <%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
              <% end %>
            <% end %>
					</div>
					<br>
					<div>
						<% if current_user %>
							<% liked = @item.likes.find_by(user_id: current_user.id) %>
							<% if liked %>
								<%= button_to 'Unlike', item_like_path(@item), method: :delete %>
							<% else %>
								<%= button_to 'Like', item_likes_path(@item), method: :post %>
							<% end %>
						<% end %>
						<%= @item.likes.count %> <%= (@item.likes.count) == 1 ? 'Like' : 'Likes'%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
